# Database Configuration (MySQL)
DATABASE_URL="mysql://root:@localhost:3306/db_smart_space_booking"

# JWT Authentication
JWT_SECRET="smart-space-booking-super-secret-jwt-key-ukk-2026-2027"
JWT_EXPIRES_IN="7d"

# Server Port
PORT=8000

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Midtrans Sandbox Configuration
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_SERVER_KEY=your_midtrans_server_key
MIDTRANS_CLIENT_KEY=your_midtrans_client_key
MIDTRANS_MERCHANT_ID=your_midtrans_merchant_id

# SMTP Email Configuration (Nodemailer)
# Contoh Gmail: host=smtp.gmail.com, port=587, user=email@gmail.com, pass=app_password (16 digit)
# Contoh cPanel: host=mail.yourdomain.com, port=465, user=noreply@yourdomain.com, pass=yourpassword
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM="WorkNest Security" <no-reply@worknest.app>

# Platform CEO / Super Admin Secret Configuration
SUPER_ADMIN_SECRET_KEY=your_super_admin_secret_key
PLATFORM_COMMISSION_PERCENT=5.0
